.drawer_box {
    /* display: none; */
    transition: all 1.0s;
}

.drawer_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 800;
    transition: all 0.8s;
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    overflow-y: scroll;
}

.drawer_contents {
    padding: 43px 30px;
}

.drawer_container_bottom {
    width: 80%;
    height: 1.5px;
    border-radius: 1.5rem;
    background-color: #bbb;
    margin: 0 30px;
}

.contents_headding {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 800;
}